.signup-form {
  padding: 3rem 2.5rem;
  border: 1px solid #cfcfcf;
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 430px;
  border-radius: 35px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.signup-fields {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: stretch;

  gap: 1rem 0.8rem;

  grid-template-areas:
    "name name name lastname lastname lastname"
    "email email email email email email"
    "street street street street street number"
    "plz plz city city city city"
    "button button button button button button";
}

.signup-fields div {
  width: 100%;
}

.signup-fields input {
  box-sizing: border-box;
  padding: 0.3em 1em;
  border-radius: 5px;
  background-color: #efefef;
  width: 100%;
}

.signup-input__vorname {
  grid-area: name;
}

.signup-input__nachname {
  grid-area: lastname;
}

.signup-input__email {
  grid-area: email;
}

.signup-input__street {
  grid-area: street;
}

.signup-input__hsnr {
  grid-area: number;
}

.signup-input__plz {
  grid-area: plz;
}

.signup-input__city {
  grid-area: city;
}

.signup-button {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: #aaa;
  border-radius: 5px;
  color: #fff;
  grid-area: button;
}

.signup-portrait__frame {
  margin: 0px auto;
  max-width: 150px;
}

.signup-portrait__frame div {
  text-align: center;
}

.signup-portrait__frame img {
  border-radius: 50%;
  width: 100%;
}
